<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
  		    <param name="ConversionPattern" value="%m\n"/>
		</layout>
	</appender>
    <appender name="ROLL" class="org.apache.log4j.RollingFileAppender">
	    <param name="MaxFileSize" value="50MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <param name="File" value="log/SPClient.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{YY-MM-dd HH:mm:ss.SSS} %-5p %m\r\n"/>
        </layout>
    </appender>

    <logger name="org.apache.http.impl.conn">
    	<level value="INFO"/>
	</logger>
    <logger name="org.apache.http.impl.client">
    	<level value="INFO"/>
	</logger>
    <logger name="org.apache.http.client">
    	<level value="INFO"/>
	</logger>
	<logger name="org.apache.http.wire">
		<level value="INFO"/>
	</logger>
	<logger name="org.apache.http.headers">
		<level value="INFO"/>
	</logger>
	
    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>


    <root>
        <level value="INFO"/>
        <appender-ref ref="ROLL"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>